header {
    background-color: #000000;
    text-align: center;
    justify-content: center;
    background-size: cover;
    
}

body {
    background-color: #fbdede;
}

.container {
    padding: 5px;
    margin: 5px;

}

#history {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 5px;
}

#five-day-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;
}